*.zip
*.tgz
*.png
*.log
*.npy
*.rar
*.docx
*.csv
*.h5
*.ipynb
*.txt

/venv/


/*_data/

/api/__pycache__/
/api/src/__pycache__/
/__pycache__/


/64x64_data/
/256x256_data/
/5_class_dataset_128_128/

/logs/




